main.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
.card{
width: 100%;
max-width: 450px;
}
}

// main.auth {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   background-color: #121212;
//   padding: 20px;
// }

// .card {
//   width: 100%;
//   max-width: 450px;
//   background-color: #1e1e1e;
//   border-radius: 12px;
//   padding: 30px 20px;
//   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
// }

// .register-login-btn {
//   background-color: #ff4d4f;
//   border: none;
//   height: 45px;
//   font-weight: 600;
//   border-radius: 6px;
// }

// .register-login-btn:hover {
//   background-color: #ff3336;
//   color: #fff;
// }
